@use './variables';

html, body {
    scroll-behavior: smooth;
    font-family: var(--font-inter) !important;
    .fw-300{
        font-weight: 300 !important;
    }
    .fw-400{
        font-weight: 400 !important;
    }
    .fw-500{
        font-weight: 500 !important;
    }
    .fw-600{
        font-weight: 600 !important;
    }
    .fw-700{
        font-weight: 700;
    }
    span{
        font-weight: 700 !important;
        color: var(--blue);
    }
    // Primary
    .blue{
        color: var(--blue)
    }
    .background-primary{
        background-color: var(--blue);
    }
    // Secondary
    .dark-blue{
        color: var(--dark-blue);
    }
    .background-secondary{
        background-color: var(--dark-blue);
    }
    // background bone
    .background-bone{
        background-color: var(--bone);
    }
    a{
        color: black !important;
    }   
}
@media (min-width: 1300px) {
    section {
        margin: 0 auto;
        max-width: 1300px;
    }
    div.container-fluid > #navBar , #Footer , .extended-background {
        max-width: 100%;
    }

}
#nav_bar{
    .nav-bar-container{
        height: 116.79px;
    }
}
.icons-background{
    background-image: url('/images/fondo_iconos_multicolor.png');

}
#hero{
    // height: 601px;
    .hero-cta{
        border-width: 0 0 0 5px;
        border-style: solid; 
        border-color: var(--blue);
    }

    .photo-container{
        margin: auto;
        min-height: 300px;
        position: relative;
    }
    .photo-container > img{
        object-fit: cover;
        aspect-ratio: 1/1;
        border-radius: 15px;
    }
    #image1 {

        max-width: 200px;
        max-height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    #image2 {
        max-width: 150px;
        max-height: 150px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    #circular-text {
        position: absolute;
        z-index: 2;
        fill: var(--green);
        right: -55px;
      }
      #hero-image-badge{
        background-color: var(--dark-blue);
        color: white;
        border-radius: 12px;
        padding: 5px;
        text-align: center;
        font-size: 16px;
      }
}

#our_clients{
    min-height:235px ;
}



#products {
    #products-column{
        background-color: #E2F0FF;
    }
    .products-grid-item{
      background-color: #F1F1F1;
      height: 160px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 12px;
        
    }
  
  }

#features_section{
    .feature-container{
        background-color: var(--blue);
        border-radius: 10px;
        height: 100px;
        // width: 190px;
        margin: 5px;
    }
    .feature-container > * {
        color: white;
        
    }
}

#support{
    color: white;
}