@use './variables';

html, body {
    scroll-behavior: smooth;
    font-family: var(--font-inter) !important;
    .fw-300{
        font-weight: 300 !important;
    }
    .fw-400{
        font-weight: 400 !important;
    }
    .fw-500{
        font-weight: 500 !important;
    }
    .fw-600{
        font-weight: 600 !important;
    }
    .fw-700{
        font-weight: 700;
    }
    span{
        font-weight: 700 !important;
        color: var(--blue);
    }
    // Primary
    .blue{
        color: var(--blue)
    }
    .background-primary{
        background-color: var(--blue);
    }
    // Secondary
    .dark-blue{
        color: var(--dark-blue);
    }
    .background-secondary{
        background-color: var(--dark-blue);
    }
    // background bone
    .background-bone{
        background-color: var(--bone);
    }
    a{
        color: black !important;
    }   
}
@media (min-width: 1300px) {
    section {
        margin: 0 auto;
        max-width: 1300px;
    }
    div.container-fluid > #navBar , #Footer , .extended-background {
        max-width: 100%;
    }

}
#nav_bar{
    .nav-bar-container{
        height: 116.79px;
    }
}
.icons-background{
    background-image: url('/images/fondo_iconos_multicolor.png');
}
#hero{
    // height: 601px;
    .hero-cta{
        border-width: 0 0 0 4px;
        border-style: solid; 
        border-color: var(--blue);
    }

    .photo-container{
        position: relative;
    }
    .photo-container > img{
        object-fit: cover;
        max-width: 100%;
        aspect-ratio: 1/1;
    }
    #circular_text {
        position: absolute;
        z-index: 2;
        fill: var(--green-light);
        right: 0;
        top: 0;
      }
    .hero-image-badge{
            background-color: var(--dark-blue);
            width: 80%;
            color: white;
            border-radius: 12px;
            padding: 8px 12px;
            position: absolute;
            bottom: 0px;
            left: 45%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        svg{
            padding: 0;
            width: auto;
        }
        p{
            width: auto;
            padding: 0;
            margin: 0;
        }
    }
    @media (min-width: 320px){
        #circular_text{
            width: 95px;
            top: 5px;
            right: -25px ;
            
        }
        .hero-image-badge{
            font-size: 10px;
        }
    }
    @media (min-width: 375px){
        #circular_text{
            width: 110px;
            top: 15px;
            right: -25px ;
        }
    }
    @media (min-width: 425px){
        #circular_text{
            width: 128px;
            top: 15px;
            right: -25px ;
        }
        .hero-image-badge{
            font-size: 12px;
        }
    }
    @media (min-width: 768px){
        #circular_text{
            width: 240px;
            top: 35px;
            right: -35px ;
        }
        .hero-image-badge{
            font-size: 14px;
        }
    }
    @media (min-width:1024px) {
            #circular_text{
                width: 128px;
                top: 15px;
                right: -25px ;
            }
            .hero-image-badge{
                width: 90%;
                font-size: 12px;
            }
        }
    @media (min-width:1440px) {
        #circular_text{
            width: 160px;
            top: 20px;
            right: -30px ;
        }
        .hero-image-badge{
            font-size: 16px;
        }
    }
}

#our_clients{
    min-height:235px ;
}



#products {
    #products-column{
        background-color: #E2F0FF;
    }
    .products-grid-item{
      background-color: #F1F1F1;
      height: 160px;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 12px;
        
    }
  
  }

#features_section{
    .feature-container{
        background-color: var(--blue);
        border-radius: 10px;
        height: 100px;
        // width: 190px;
        margin: 5px;
    }
    .feature-container > * {
        color: white;
        
    }
}

#support{
    color: white;
}