// font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    // Font
    --font-Inter: 'Inter' , sans-serif;

    // Colors
    --Blue: #2255FF;
    --DarkBlue: #021E51;
    --Green: #28D296;
    --Bone: rgba(217, 217, 217, 0.25);
}